.App {
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: #4a484840;
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0 26.2px 21.2px rgba(0, 0, 0, 0.07), 0 33.4px 33.1px rgba(0, 0, 0, 0.137), 0 35.5px 40.8px rgba(0, 0, 0, 0.208), 0 35.8px 47.8px rgba(0, 0, 0, 0.29), 0 37px 57px rgba(0, 0, 0, 0.39);
}

.Header {
    width: 98%;
    height: 74px;
    padding-top: 12px;
    margin: 5px;
}

input {
    width: 79%;
    height: 38px;
    outline: none;
    border: none;
    background-color: #4a484800;
    padding-left: 10px;
}

.button {
    margin-left: 5px;
    width: 77px;
    height: 38px;
    border: none;
}

.image {
    vertical-align: middle;
    border-style: none;
    width: 39px;
    padding: 6px;
}

.Item {
    width: 97%;
    height: auto;
    margin: 10px;
}

.CheckBox {
    float: left;
    width: 22px;
    margin-left: 12px;
    margin-top: -7px;
}

.ItemText {
    width: 85%;
    float: left;
}

.Item-Complete {
    text-decoration: line-through;
    opacity: 0.3;
}

.Pen {
    width: 25px;
    margin-top: -10px;
    opacity: 0;
    margin-right: 10px;
    transition: all 2.s;
}

.Item:hover .Pen {
    opacity: 1;
}

.Delete {
    width: 25px;
    margin-top: -10px;
    opacity: 0;
    transition: all .2s;
}

.Item:hover .Delete {
    opacity: .5;
}

.FooTer {
    padding-bottom: 19px;
}

.HR {
    margin-top: 6px;
    margin-bottom: 6px;
}